<div class="form-inline">
    <label class="sr-only" for="inlineFormInputName2">Label</label>
    <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="inlineFormInputName2"
            [(ngModel)]="key"
            (change)="annotationUpdated()"
            placeholder="Key">
    <label class="sr-only" for="inlineFormInputGroupUsername2">Label</label>
    <input
            type="text"
            class="form-control"
            id="inlineFormInputGroupUsername2"
            [(ngModel)]="label"
            (change)="annotationUpdated()"
            placeholder="Label">
    <button type="submit" class="btn btn-primary mb-2">X</button>
</div>
